.float-right { 
    float: right;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* hide arrows on input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.none {
    display: none;
}
