.absolute-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.absolute-modal-patient {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.float-right { 
    float: right;
    margin-bottom: 1rem;
}

.modal-main {
    max-width: 600px;
    margin: 0 auto;
}
.modal-img {
    padding: 1rem;
}


@media (max-height: 680px) {
    .absolute-modal-patient {
     }
}
.patient-modal a {
    margin-left: 0.5rem;
}
.patient-modal span {
    font-size: 2em;
}

.absolute-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.absolute-modal-patient {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.float-right { 
    float: right;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.modal-main {
    max-width: 600px;
    margin: 0 auto;
}
.modal-img {
    padding: 1rem;
}

#patientTestTable {
    margin: 0 20px;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-height: 680px) {
    .absolute-modal-patient {
     }
}

/* hide arrows on input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
